<!-- 
<carousel interval="3000" no-wrap="false" >
    <slide>
      
    
        <div class="fill" style="background-image:url('../img/view10.PNG');"  style="margin:auto;">
    


        </div>
     
      
    </slide>
    <slide class="item">
  
        <div class="fill"  style="background-image:url('../img/view7.jpg');"></div>
     
    </slide>
    <slide class="item">
        
        <div class="fill" style="background-image:url('../img/view6.jpg');"></div>
       
    </slide>
</carousel>
    -->
<header style="
    padding-top: 50px;
    padding-bottom: 50px;
">
  <div class="header-content">
            <div class="header-content-inner">
                <h1>MODERN TRADING PLATFORM</h1>
                <hr>
                <p>Risk the money we provide and make your profit</p>
                <div class="row">
                <button class="btn btn-danger btn" ng-click="description()">Learn More</button>
                <button class="btn btn-danger btn" ng-click="openModal()">Watch a Video</button>
                <div>
            </div>
</div>
</header>

<section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Trading the way it should be done!</h2>
                    <hr class="light">
                    <p class="text-faded">We know how complicated it can be to trade and the risk involved with it. What we are trying to accomplish by creating this platform is to remove the risk completely and give you a free, open and easy to use trading platform!</p>
                    <a href="#" class="btn btn-danger btn-lg">Get Started!</a>
                </div>
            </div>
        </div>
</section>

<section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Easy to Install</h3>
                        <p class="text-muted">Our Trading platform can be downloaded in 2 steps.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Updated Regularly</h3>
                        <p class="text-muted">We update the platform regularly for no cost!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>24 x 7 service</h3>
                        <p class="text-muted">We are always online to help you!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Best Algorithms</h3>
                        <p class="text-muted">We have the best and the coolest trading algorithms!</p>
                    </div>
                </div>
            </div>
        </div>
</section>
    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>FOLLOW US ON!</h2>
                <button class="btn btn-danger ">Facebook</button>
                <button class="btn btn-danger ">Twitter</button>
                <button class="btn btn-danger ">Linkedin</button>
            </div>
        </div>
    </aside>